@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: 4rem; /* Adjust to match your fixed header height */
}
